
.main{
    width: 662px;
    height: 374px;
    top: 202px;
    margin-left: 70px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 55px;
}
p{
    font-size: 24px;
}
.photoo{
    display: flex;
    justify-content: end;
    display: inline;
    align-items: end;
    width: 250px;
    height: 250px;
}
.za{
   margin-left: 80px;
   width: 280px;
   height: 280px;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.photooo{
display: inline-block;
margin: 70px;
}
.text{
    display: flex;
    align-items: end;
    width: 800px;
    
}
@media screen and (min-width: 1024px) and (max-width: 1115px){
    .za{
        width: 220px;
        height: 200px;
        margin-left: 30px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1400px){
    
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    p{
        font-size: 18px;
       
    }
    .photo{
    overflow: none;
    }
    .za{
        width: 230px;
        height: 250px; 
        margin-left: 30px; 
    }
    .main{
        width: 400px;
        height: 300px;
    }
}
@media screen and (min-width: 300px) and (max-width: 768px){
    p{
        font-size: 18px;
    }
    .za{
        width: 190px;
        height: 190px;
    }
    
}